@tailwind base;
@tailwind components;
@tailwind utilities;

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: 5px;
    background: #d7e0ff;
}

::-webkit-scrollbar-thumb {
    background-color: #F3F4F6;
    border-radius: 5px;
}